.container__signinPage {
  /* height: 100vh; */
  margin: 0 auto;
  width: 60%;
  display: block;
}

.signin-input {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.form-box-signin {
  border: 2px solid rgb(187, 187, 187);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.904);
  opacity: 0.9;
  color: white;
  margin: 0 auto;
  padding: 30px;
  height: 100%;
  width: 70%;
}

.login-btn {
  outline: 0;
  background-color: rgba(42, 163, 163, 0.952);
  color: white;
  padding: 6px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  display: block;
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    filter: brightness(1.8);
    transform: scale(1.05);
  }
}

.form-signin {
  margin-bottom: 10px;
}

.logo-signin-form {
  width: 30%;
  margin-top: 7px;
  margin-left: 35%;
  margin-right: 35%;
}

.signin-form-err-msg {
  text-align: center;
  color: yellow;
  padding-bottom: 10px;
  margin-top: 15px;
}

.signin-title {
  text-align: center;
  margin-top: 15px;
}
